@import '../../../commonStyles.scss';

.component-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
}

.logo {
  height: 50px;
}

.box-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: $box-sizes;
  background-color: $secondary-color;
  border-radius: 20px;
  padding: 5px;
  font-size: 7rem;
  font-weight: 700;

  &__title {
    font-size: 2rem;
    font-family: 'Roboto Condensed';
    color: white;
    margin-left: 20px;
    text-transform: uppercase;
  }
}

.list-container {
  width: $box-sizes;
  max-height: 70vh;
  background-color: #f0f0f0;
  border-radius: 10px 10px 60px 10px;
  padding: 15px;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #c4c4c4;
  border-radius: 20px;
  box-shadow: inset 0 0 2px 2px rgb(151, 151, 151);
}

::-webkit-scrollbar-thumb {
  background: #f9f9f9;
  border-radius: 7px;
  border: 1px solid #807d7d;
  width: 1px;
  height: 30px;
}

::-webkit-scrollbar-thumb:hover {
  background: $secondary-color;
}

.search-bar {
  border: 1px solid rgb(207, 205, 205);
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 20px;
  display: flex;
  flex-flow: row nowrap;

  &__img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
  }

  &__input {
    border: none;
    outline: none;
    width: 80%;
    margin-left: 20px;
    color: white;
  }
}

.list {
  height: 310px;
  overflow-y: scroll;
  line-height: 30px;
  &__item {
  }
}

.list-elem {
  display: flex;
  flex-direction: row;
  padding: 6px;
  height: 50px;
  width: 100%;
  color: white;

  &__number {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $secondary-color;
    width: 10%;
    border-top-left-radius: 20px;
    font-size: 0.8rem;
  }

  &__name {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: $primary-color;
    width: 90%;
    border-bottom-right-radius: 20px;
    text-transform: uppercase;
    padding-left: 20px;
  }
}
