.map-container {
	display: flex;
	flex-direction: column;
	background-color: #555555;
	border-radius: 2rem;

	&__title {
		display: flex;
		align-items: center;
		padding: 0.5rem;
		background-color: #ececec;
		border-radius: 1rem;
		margin: 1rem;
		color: black;

		img {
			height: 32px;
		}

		h2 {
			padding-left: 1rem;
			font-weight: bolder;
			font-size: 1.5rem;
			text-transform: uppercase;
		}
	}

	&__map {
		min-height: 300px;
		border-radius: 2rem;
	}
}

.leaflet-popup-content-wrapper .leaflet-popup-content {
	color: red;
}
