@import 'base/base';
@import 'abstracts/variables';

.component-box {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: calc(100vh - 100px);
}

.pokedex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;

	&__pokemon-list {
		flex-grow: 1;
	}

	&__pokemon-detail {
		flex-grow: 6;
	}
}

.loading-picture {
	height: 100%;
	display: flex;
	align-items: center;

	&__request {
		border-radius: 100px;
		height: 60px;
	}

	&__error {
		height: 50vh;
	}
}

@media (max-width: 768px) {
	.pokedex {
		flex-direction: column;

		&__pokemon-list,
		&__pokemon-detail {
			width: 100%;
		}
	}
}
