<div class="component-box">
	<div class="pokedex" *ngIf="status === 'loaded'">
		<app-pokemon-list class="pokedex__pokemon-list"></app-pokemon-list>
		<div class="pokedex__pokemon-detail">
			<router-outlet></router-outlet>
		</div>
	</div>
	<div class="loading-picture" *ngIf="status === 'requesting'">
		<img
			class="loading-picture__request"
			src="assets/img/loading-pokeball.gif"
			alt="Loading"
		/>
	</div>
	<div class="loading-picture" *ngIf="status === 'error'">
		<div class="error-message">
			<div class="error-message__img">
				<img
					src="assets/img/gifs/psyduck.gif"
					alt="Some problem with the API"
				/>
			</div>
			<h2 class="error-message__text">Some problem with the API :(</h2>
		</div>
	</div>
</div>

<!-- Back top btn -->
<app-back-top-btn></app-back-top-btn>
