<header class="header">
	<img
		class="logo"
		src="../../assets/img/pokemon-logo.png"
		alt="pokemon-logo"
	/>

	<app-hamburguer-icon
		(click)="render()"
		#hamburguerIcon
		class="hamburguer-icon"
	></app-hamburguer-icon>

	<nav [ngClass]="{ open: displayMenu === true }" class="menu">
		<a
			class="menu__item"
			routerLink="/pokedex"
			routerLinkActive="menu__item--active"
			>Pokedex</a
		>
		<a
			class="menu__item"
			routerLink="/landing"
			routerLinkActive="menu__item--active"
			>Home</a
		>
		<a class="menu__item" href="#main-down">Info</a>
		<a class="menu__item" href="#main-down">About us</a>
	</nav>
</header>
