@import 'base/base';
@import 'base/typography';
@import 'abstracts/variables';

.footer {
	//box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	width: 100vw;
	background-color: $secondary-color;
	color: white;
	height: 50px;

	&__title {
		height: 80%;
		width: auto;
	}
}

.pokeball-img,
.pokemon-img {
	height: 80%;
	width: auto;
}

@media (max-width: 1024px) {
	.pokemon-img {
		&--hidden-1 {
			display: none;
		}
	}
}

@media (max-width: 768px) {
	.footer {
		&__title {
			height: 70%;
			width: auto;
		}
	}

	.pokemon-img {
		&--hidden-2 {
			display: none;
		}
	}
}

@media (max-width: 480px) {
	.footer {
		&__title {
			height: 60%;
			width: auto;
		}
	}

	.pokeball-img {
		height: 60%;
	}
}
