<footer class="footer">
  <img
    class="footer__decorator--main"
    src="../../assets/img/pokeball-logo.png"
    alt="Logo Pokeball"
  />
  <img
    class="footer__decorator--secondary"
    src="../../assets/img/pikachu-footer.png"
    alt="Pikachu"
  />
  <img
    class="footer__decorator--secondary"
    src="../../assets/img/blastoise-footer.png"
    alt="Blastoise"
  />
  <img
    class="footer__title"
    src="../../assets/img/pokedexApi-footer.png"
    alt="Logo PokedexApi"
  />
  <img
    class="footer__decorator--secondary"
    src="../../assets/img/ghost-footer.png"
    alt="Ghost"
  />
  <img
    class="footer__decorator--secondary"
    src="../../assets/img/charizard-footer.png"
    alt="Charizard"
  />
  <img
    class="footer__decorator--main"
    src="../../assets/img/pokeball-logo.png"
    alt="Logo Pokeball"
  />
</footer>
