.tag-box {
	display: flex;
	align-items: center;
	justify-content: center;
	position: sticky;
	height: 35px;
	border: 1px solid rgb(207, 205, 205);
	background-color: white;
	border-radius: 10px;
	margin-bottom: 1rem;
	padding: 1rem;
	height: auto;

	&__container {
		display: flex;
		flex-wrap: wrap;
		width: 270px;
		height: auto;
	}
}

.tag {
	// border: 1px solid;
	border-radius: 100px;
	color: white;
	font-weight: bold;
	font-size: 1.5rem;
	padding: 0.5rem;
	margin: 0.5rem;
	cursor: pointer;
	transition: box-shadow opacity 0.3s;

	&:hover {
		opacity: 1;
		box-shadow: 0 0 4px 4px #7a7979;
	}

	&:before {
		content: '# ';
	}

	&__all {
		background-color: black;
	}

	&--disabled {
		opacity: 0.5;
	}

	&--selected {
		opacity: 1;
		box-shadow: 0 0 2px 2px #7a7979;
	}
}

@media (max-width: 820px) {
	.tag-box {
		&__container {
			width: 100%;
		}
	}
}
