@import 'base/base';
@import 'abstracts/variables';

.component-box {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: calc(100vh - 100px);
}

.pokedex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	max-width: 1280px;

	&__pokemon-list {
		flex-grow: 1;
	}

	&__pokemon-detail {
		flex-grow: 6;
	}
}

.loading-pokeball {
	height: 100%;
	display: flex;
	align-items: center;
	&__gif {
		display: block;
		margin: 0 auto;
		border-radius: 100px;
		height: 60px;
	}
}

@media (max-width: 768px) {
	.pokedex {
		flex-direction: column;

		&__pokemon-list {
			width: 100%;
		}
	}
}
