@import '../../commonStyles.scss';

.component-box {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	height: 100%;
}

.pokemon-list {
	flex-grow: 1;
	// min-width: 350px;
}

.pokemon-detail {
	flex-grow: 2;
}

.loading-pokeball {
	height: 100vh;
	display: flex;
	align-items: center;
	&__gif {
		display: block;
		margin: 0 auto;
		border-radius: 100px;
		height: 60px;
	}
}
