<main class="component-box">
	<div class="title">
		<img
			class="title__logo"
			src="./assets/img/pokeball-logo.png"
			alt="pokeball-logo"
		/>
		<h1 class="title__text">Pokedex</h1>
	</div>

	<div class="list-container">
		<div class="filter-box">
			<form class="search-bar">
				<img
					src="./assets/img/glass-search.png"
					class="search-bar__img"
				/>
				<input
					name="pokemonName"
					class="search-bar__input"
					type="text"
					placeholder="Search..."
					[(ngModel)]="searchPokemonName"
				/>
			</form>

			<div (click)="changeTagBoxStatus()" class="dropdown-btn">
				<img
					class="dropdown-btn__img"
					src="./assets/img/svg/angle-up-solid.svg"
					alt=""
				/>
			</div>
		</div>

		<!-- Tag Box -->
		<app-tag-box
			[renderingType]="selectedType"
			(typeSelected)="getTypeSelected($event)"
			(turnDropDownOff)="getDropDownInteraction($event)"
			*ngIf="displayTagBox == true"
		></app-tag-box>

		<!--List of Pokemons-->
		<div *ngIf="pokemonList != undefined" class="list">
			<div
				class="elem"
				*ngFor="
					let elem of pokemonList | searcherFilter: searchPokemonName;
					index as i
				"
				routerLink="./{{ elem.name }}"
				fragment="card"
				(click)="renderPokemon(elem.name)"
			>
				<span class="elem__id">{{ elem.id }}</span>
				<div class="elem__info">
					<img
						class="elem__info__img"
						src="{{ elem.imagePath }}"
						alt="pokemon-img"
					/>
					<p class="elem__info__name">{{ elem.name }}</p>
				</div>
			</div>
		</div>
	</div>
</main>
