@import 'base/base';
@import 'abstracts/variables';

.component-box {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 2rem;
}

.title {
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: $secondary-color;
	border-radius: 20px;
	padding: 0.5rem 0 0.5rem 0.5rem;
	margin: 0 0 1rem 0;
	box-shadow: $our-box-shadow;

	&__logo {
		height: 40px;
		margin: 1rem;
	}

	&__text {
		font-size: 3rem;
		font-family: 'Roboto Condensed';
		color: white;
		margin-left: 2rem;
		text-transform: uppercase;
		&::first-letter {
			font-size: 3.5rem;
		}
	}
}

.list-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #f0f0f0;
	border-radius: 20px 20px 60px 20px;
	padding: 2.5rem;
	box-shadow: $our-box-shadow;
}

.filter-box {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.search-bar {
	display: flex;
	align-items: center;
	flex-grow: 1;
	position: sticky;
	height: 35px;
	border: 1px solid rgb(207, 205, 205);
	background-color: white;
	border-radius: 10px;
	margin-bottom: 1rem;

	&__img {
		width: 20px;
		height: 20px;
		margin-left: 1rem;
	}

	&__input {
		border: none;
		outline: none;
		width: 100%;
		margin-left: 2rem;
		font-size: 1.5rem;
	}
}

.dropdown-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	position: sticky;
	height: 35px;
	width: 35px;
	border: 1px solid rgb(207, 205, 205);
	background-color: white;
	border-radius: 10px;
	margin-bottom: 10px;
	cursor: pointer;

	&__img {
		display: flex;
		max-width: 50%;
		transform: rotate(180deg);
		opacity: 0.3;
	}
}

.list {
	display: flex;
	flex-direction: column;
	max-height: 47vh;
	overflow-y: scroll;

	&::-webkit-scrollbar {
		width: 15px;
		padding: 15px 0;
	}

	&::-webkit-scrollbar-track {
		background: #c4c4c4;
		border-radius: 20px;
		box-shadow: inset 0 0 2px 2px rgb(151, 151, 151);
	}

	&::-webkit-scrollbar-thumb {
		background: #f9f9f9;
		border-radius: 7px;
		border: 1px solid #807d7d;
		width: 1px;
		height: 30px;
	}

	&::-webkit-scrollbar-thumb:hover {
		background: $secondary-color;
	}
}

.elem {
	display: flex;
	padding-right: 0.6rem;
	margin: 1rem 0;
	height: 60px;
	color: white;
	cursor: pointer;

	&__id {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $secondary-color;
		width: 15%;
		font-weight: bold;
		font-size: 1.6rem;
		border-top-left-radius: 30px;
		border-bottom-left-radius: 10px;
		padding: 5px;
		&::before {
			content: '#';
		}
	}

	&__info {
		display: flex;
		align-items: center;
		width: 85%;
		display: flex;
		background-color: $primary-color;
		border-top-right-radius: 10px;
		border-bottom-right-radius: 30px;

		&__img {
			background-color: $terciary-color;
			height: 80%;
			margin: 10px;
			border-radius: 10px;
			width: auto;
		}

		&__name {
			text-transform: uppercase;
			padding-left: 20px;
			font-weight: 700;
			font-size: 1.5rem;
			&::first-letter {
				font-size: 1.6rem;
			}
		}
	}
}

@media (max-width: 480px) {
	.component-box {
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}
	.elem {
		&__name {
			padding-left: 10px;
		}
	}
}

@media (min-width: 1280px) {
	.component-box {
		padding: 2rem 6rem;
	}
}
