<div class="detail-container">
	<div class="detail-container__selected" *ngIf="pokemonSelected">
		<div class="panel">
			<div class="panel__card">
				<app-pokemon-card class="panel__info__card"></app-pokemon-card>
			</div>
			<div class="panel__map">
				<app-pokemon-map class="panel__info__map"></app-pokemon-map>
			</div>
		</div>
	</div>
	<img
		src="../../../assets/img/pikachu-search.png"
		alt="Unselected picture"
		*ngIf="pokemonSelected === undefined"
		class="detail-container__no-selected"
	/>
</div>
