@import 'base/base';
@import 'abstracts/variables';
@import 'abstracts/mixins';

@keyframes rotateTitle {
	0% {
	}
	50% {
		transform: rotate(360deg);
	}
	100% {
	}
}
.detail-container {
	//padding: 2rem;
	display: flex;
	justify-content: center;

	&__selected {
		height: 100%;
		background-color: #db4545;
		border-radius: 20px;
		padding: 2rem;
		width: 100%;
		box-shadow: $our-box-shadow;
	}

	&__no-selected {
		//width: 30vw;
		max-width: 250px;
		background-color: #f0f0f0;
		border-radius: 20px 20px 60px 20px;
		padding: 2.5rem;
		box-shadow: 0 0 5px 3px #aaa;
	}
}

.choose {
	display: flex;
	flex-direction: column;
	align-items: center;
	perspective: 1500px;
	&__img {
		width: 20rem;
		animation: rotate 3s cubic-bezier(0.68, -0.55, 0.27, 1.55) 1s infinite
			normal;
		padding: 2rem;
		opacity: 0.8;
		filter: grayscale(100%);
	}
	&__title {
		text-align: center;
		font-size: 2.5rem;
		text-transform: uppercase;
		letter-spacing: 0.3rem;
		word-spacing: 1.2rem;
		padding: 2rem 0;
		animation: rotate 3s cubic-bezier(0.68, -0.55, 0.27, 1.55) 2s infinite;
		&--poke {
			color: #db4545;
		}
	}
}

.panel {
	display: flex;
	background-color: rgba(0, 0, 0, 0.37);
	border-radius: 2em;
	justify-content: space-between;

	// &__button-change {
	// 	border: none;
	// 	background-color: #fff;
	// 	color: #2b2b2b;
	// 	border-radius: 10px;
	// 	margin-top: 2rem;
	// 	padding: 1rem 2rem;
	// 	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
	// 	&:focus {
	// 		outline: none;
	// 	}
	// 	&:hover {
	// 		transform: translateY(-3px);
	// 	}
	// 	&:active {
	// 		transform: translateY(-1px);
	// 	}
	// }

	&__card {
		padding: 0.5rem;
		flex: 1;
	}
	&__map {
		padding: 0.5rem;
		flex: 1;
	}
}
// Animation
@keyframes rotate {
	// 0%{transform: rotateY(0deg)}
	// 25%{transform: rotateY(360deg);}
	// 50%{transform: rotateY(360deg);}
	// 100%{transform: rotateY(0deg)}
	from {
		transform: rotateY(0deg);
	}
	to {
		transform: rotateY(360deg);
	}
}

//Responsive
@include respond(tab-land) {
	.detail-container {
		padding: 2rem 6rem;
	}
}

@include respond(tab-port) {
	.detail-container {
		padding-left: 2rem;
	}
	.panel {
		flex-flow: column wrap;
	}
}

@include respond(phone) {
	.detail-container {
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}
}
