@import 'base/base';
@import 'abstracts/variables';

.detail-container {
	padding: 2rem;
	display: flex;
	justify-content: center;

	&__selected {
		height: 100%;
		background-color: #db4545;
		border-radius: 20px;
		padding: 2rem;
		width: 100%;
		box-shadow: $our-box-shadow;
	}

	&__no-selected {
		width: 30vw;
		min-width: 250px;
	}
}

.panel {
	display: flex;
	background-color: rgba(0, 0, 0, 0.37);
	border-radius: 2em;
	justify-content: space-between;

	&__card {
		padding: 0.5rem;
		box-sizing: border-box;
		flex: 1;
	}
	&__map {
		padding: 0.5rem;
		box-sizing: border-box;
		flex: 1;
	}
}

@media (max-width: 768px) {
	.detail-container {
		padding-left: 2rem;
	}
	.panel {
		flex-flow: column wrap;
	}
}

@media (max-width: 480px) {
	.detail-container {
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}
}

@media (min-width: 1280px) {
	.detail-container {
		padding: 6rem;
	}
}
