//Variables
$radius: 2em;

//Text General
h1 {
  font-size: 3em; //Pending general styles
  font-weight: bold; ////Pending general styles
}

h2 {
  color: white;
  font-weight: bolder;
  margin: 0.3em 0;
  font-size: 2em;
}
//Shadow
.shadow {
  padding: 0.5em;
  background-color: rgba(0, 0, 0, 0.37);
  border-radius: 2em;
  margin-bottom: 2em;
}

//Containers
.container {
  display: flex;

  &--general {
    border-radius: $radius;
    background-color: #6fad6e; //pending from Javascript Service
  }

  &--info {
    border-radius: $radius;
    flex-direction: column;
    background-color: #ececec;
    width: 60%;
    padding: 1em 2em 2em 2em; //It sets general Size.
  }

  &--photo {
    flex-direction: column;
    align-items: center;
    width: 40%;
    padding: 1em 0 2em 0em;
  }

  &--row {
    width: 100%;
    justify-content: space-evenly;
  }

  //Managing the margin inside Container
  ul {
    margin: 1em 0;
    li:last-child {
      margin-bottom: 0; //Eliminate margin to proper vertical align
    }
  }
  ul:last-child {
    margin-bottom: 0; //Eliminate margin to proper vertical align
  }
  li {
    margin: 0.5em 0;
  }
}

table {
  border-collapse: separate;
  border-spacing: 0 0.5em; //Space beetwen tr
}

//Pokemon img
.sprite {
  border-radius: 1.5em;
  width: 10em; //Size img, pending mediaquerys
}

//Div Background White
.background-photo {
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 2em;
}

//btn classes
.type {
  background-color: rgba(255, 255, 255, 0.363);
  padding: 0.3em;
  border-radius: 0.3em;

  &--pysychic {
    background-color: #ffbcfc;
  }

  &--normal {
    background-color: #fff6e9;
  }

  &--poison {
    background-color: #cbfad3;
  }
}

//Skill Bar types
.progress-bar {
  width: 100%;
  padding: 5px;

  &__skill--hp {
    border-radius: 0.5rem;
    width: 90%;
    background-color: rgb(0, 255, 0);
  }
  &__skill--attack {
    border-radius: 0.5rem;
    width: 60%;
    background-color: rgb(179, 255, 0);
  }
  &__skill--sattack {
    border-radius: 0.5rem;
    width: 67%;
    background-color: rgb(115, 255, 0);
  }
  &__skill--sdeffense {
    border-radius: 0.5rem;
    width: 45%;
    background-color: rgb(229, 255, 0);
  }
  &__skill--speed {
    border-radius: 0.5rem;
    width: 23%;
    background-color: rgb(255, 136, 0);
  }
}
.d-hidden {
  visibility: hidden;
}
