<div class="shadow" *ngIf="pokemonSelected != undefined">
  <div class="container container--general">
    <div class="container container--photo">
      <div class="background-photo">
        <img
          class="sprite"
          src="{{ pokemonSelected.imagePath }}"
          alt="img {{ pokemonSelected.name }}"
        />
      </div>

      <h2>{{ pokemonSelected.name }}</h2>
      <div class="container container--row">
        <!-- Type For -->
        <div
          *ngFor="let type of pokemonSelected.type"
          class="type type--{{ type }}"
        >
          {{ type }}
        </div>
      </div>
    </div>

    <div class="container container--info">
      <h1>#{{ pokemonSelected.name }}</h1>
      <ul>
        <!-- Ability has to be iterated-->
        <li>
          Ability:
          <span *ngFor="let ability of pokemonSelected.ability"
            >{{ ability }}
          </span>
        </li>
        <li>Height: {{ pokemonSelected.height }}</li>
        <li>Weight: {{ pokemonSelected.weight }}</li>
      </ul>

      <table>
        <tr *ngFor="let stat of pokemonSelected.stats">
          <td>{{ stat.name }}</td>
          <td>{{ stat['base-stat'] }}</td>
          <div class="progress-bar">
            <div
              [style.width.%]="stat.base"
              [style.background-color]="colorBar(stat.base - stat)"
              class="progress-bar__skill"
            >
              <div class="d-hidden">Skill</div>
            </div>
          </div>
        </tr>
      </table>
    </div>
  </div>
</div>
