@import '../../../commonStyles.scss';

.component-box {
	display: flex;
	flex-direction: row;
	height: 100%;
	//width: 100%;
	background-color: #db4545;
	border-radius: 20px;
	padding: 2rem;
}
.container-box {
	padding: 2rem;
}

//Shadow
.shadow {
	display: flex;
	width: 100%;
	padding: 0.5em;
	background-color: rgba(0, 0, 0, 0.37);
	border-radius: 2em;
}

.container {
	width: 50%;
}
