@import '../../../commonStyles.scss';

.component-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

app-pokemon-card {
  width: $box-sizes;
}

app-pokemon-map {
  width: $box-sizes;
}
