<section class="intro-section">
	<div class="intro-section__wave">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
			<path
				fill="#273036"
				fill-opacity="1"
				d="M0,64L60,85.3C120,107,240,149,360,176C480,203,600,213,720,186.7C840,160,960,96,1080,69.3C1200,43,1320,53,1380,58.7L1440,64L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"
			></path>
		</svg>
	</div>

	<div class="titles">
		<h1 class="titles__title--black">Discover</h1>
		<h1 class="titles__title--gray">Learn</h1>
		<h1 class="titles__title--red">Explore</h1>
	</div>

	<div class="btn-landing">
		<a class="btn-landing__link"
			><span class="quote"></span>Find your Pokemon</a
		>
	</div>

	<div class="oak-professor">
		<img class="oak-professor__image" src="../../assets/img/pokemon-prof.png" />
		<img class="oak-professor__pokemon" [src]="imgSource" alt="" />
	</div>
</section>

<section class="functionality-section">
	<svg
		class="functionality-section__wave"
		class=""
		viewBox="0 0 1599 126"
		fill="none"
		xmlns="http://www.w3.org/2000/svg"
	>
		<path
			d="M0 100.937V0H1599V75.5C1151.5 134.5 736.806 144.614 312.5 86C149.091 63.4266 25.7633 73.8967 0 100.937Z"
			fill="#273036"
		/>
	</svg>
	<h2 class="title">The Pokedex</h2>
	<div class="functionalities">
		<div class="explanation-card">
			<div class="pokedex-title">
				<div class="pokedex-title__num"><span>1</span></div>
				<p class="pokedex-title__text">Search your Pokemon...</p>
			</div>
			<img
				class="explanation-card__img"
				src="assets/img/functionality-1.jpg"
				alt=""
			/>
			<div class="bubble-text">
				You can select the first 151 Pokemons and search them by name
			</div>
		</div>
		<div class="explanation-card--double">
			<div class="pokedex-title">
				<div class="pokedex-title__num"><span>2</span></div>
				<p class="pokedex-title__text">Analyse your selected Pokemon...</p>
			</div>
			<img
				class="explanation-card__img"
				src="assets/img/functionality-2.jpg"
				alt=""
			/>
			<div class="bubble-text">
				Just point the cursor on the card and you will see all the data
				available: Name, ability, height, weight, types and stats!
			</div>
		</div>
		<div class="explanation-card">
			<div class="pokedex-title">
				<div class="pokedex-title__num"><span>3</span></div>
				<p class="pokedex-title__text">And search for them!</p>
			</div>
			<img
				class="explanation-card__img"
				src="assets/img/functionality-3.jpg"
				alt=""
			/>
			<div class="bubble-text">
				And of course, you can see where to catch all your Pokemons!
			</div>
		</div>
	</div>
</section>

<section class="main-down">
	<div class="main-down-title">
		<p class="title">our team</p>
	</div>
	<div class="main-down-info">
		<div class="main-down-info-first">
			<div class="card-container">
				<div class="card">
					<div class="card-inner">
						<div class="card-front">
							<img class="card-image" src="../../assets/img/person-icon.png" />
							<h1>Jose Angel Cívico Martín</h1>
						</div>
						<div class="card-back">
							<br /><br />
							<br /><br />
							<p>Jose Angel Cívico Martín</p>
							<p>Software Developer</p>
						</div>
					</div>
				</div>
			</div>
			<div class="card-container">
				<div class="card">
					<div class="card-inner">
						<div class="card-front">
							<img class="card-image" src="../../assets/img/person-icon.png" />
							<h1>Gabriel García Garrido</h1>
						</div>
						<div class="card-back">
							<br /><br />
							<br /><br />
							<p>Gabriel García Garrido</p>
							<p>Software Developer</p>
						</div>
					</div>
				</div>
			</div>
			<div class="card-container">
				<div class="card">
					<div class="card-inner">
						<div class="card-front">
							<img class="card-image" src="../../assets/img/person-icon.png" />
							<h1>Guadalupe García Plaza</h1>
						</div>
						<div class="card-back">
							<br /><br />
							<br /><br />
							<p>Guadalupe García Plaza</p>
							<p>Software Developer</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="main-down-info-second">
			<div class="card-container"></div>
			<div class="card-container">
				<div class="card">
					<div class="card-inner">
						<div class="card-front">
							<img class="card-image" src="../../assets/img/person-icon.png" />
							<h1>Jose Luis Aguilar Gómez</h1>
						</div>
						<div class="card-back">
							<br /><br />
							<br /><br />
							<p>Jose Luis Aguilar Gómez</p>
							<p>Software Developer</p>
						</div>
					</div>
				</div>
			</div>
			<div class="card-container">
				<div class="card">
					<div class="card-inner">
						<div class="card-front">
							<img class="card-image" src="../../assets/img/person-icon.png" />
							<h1>Juan Pablo Amador Díaz</h1>
						</div>
						<div class="card-back">
							<br /><br />
							<br /><br />
							<p>Juan Pablo Amador Díaz</p>
							<p>Software Developer</p>
						</div>
					</div>
				</div>
			</div>
			<div class="card-container"></div>
		</div>
	</div>
</section>
