@import '../../commonStyles.scss';

.intro-section {
	position: relative;
	box-sizing: border-box;
	width: 100%;
	height: calc(100vh - 70px);
	background: url('../../assets/img/pokemon-header.jpg') no-repeat center;
	background-size: cover;
	&__wave {
		position: absolute;
		bottom: -3px;
		width: 100%;
		height: auto;
		animation: scaleY-animation 1s;
	}
	.titles {
		letter-spacing: 0.055em;
		width: 30vw;
		padding: 25px 40px;
		margin-left: 100px;
		h1 {
			display: inline-block;
			width: 100%;
			font-size: 55px;
			font-weight: bold;
		}
		&__title {
			&--black {
				color: $secondary-color;
				text-align: left;
				opacity: 0;
				animation: opacity-animation 1s 2s forwards;
			}
			&--gray {
				color: #868686;
				text-align: center;
				opacity: 0;
				animation: opacity-animation 1s 2.5s forwards;
			}
			&--red {
				color: $primary-color;
				text-align: right;
				opacity: 0;
				animation: opacity-animation 1s 3s forwards;
			}
		}
	}
}

@keyframes scaleY-animation {
	from {
		transform: scaleY(0);
	}
	to {
		transform: scaleY(1);
	}
}

@keyframes opacity-animation {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.functionality-section {
	position: relative;
	box-sizing: border-box;
	width: 100%;
	.functionalities {
		display: flex;
		flex-flow: row wrap;
		.explanation-card {
			display: flex;
			flex-flow: column nowrap;
			flex: 3;
			padding: 50px;
			&--double {
				padding: 50px;
				flex: 4;
			}
			&__img {
				border-radius: 15px;
				display: block;
				margin: 15px auto;
			}
		}
		.bubble-text {
			background-color: #c4c4c4;
			border-radius: 15px;
			padding: 25px;
			color: #202020;
			text-align: justify;
		}
	}
	&__wave {
		position: absolute;
		top: 0;
	}
	.title {
		color: white;
		position: absolute;
		top: 0;
		margin-top: 3vh;
		font-weight: bold;
	}

	.pokedex-title {
		background-color: $primary-color;
		border-radius: 15px;
		display: flex;
		text-transform: uppercase;
		&__num {
			background-color: $secondary-color;
			width: 80px;
			height: 100%;
			padding: 12px 0px;
			border-radius: 15px 0px 0px 15px;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 23px;
			span {
				color: white;
				display: inline;
			}
		}
		&__text {
			display: flex;
			justify-content: center;
			align-items: center;
			color: white;
			font-size: 16px;
			padding: 0px 25px;
		}
	}
}

.oak-professor {
	position: absolute;
	width: 100%;
	left: 30px;
	bottom: 0;
	&__image {
		display: inline-block;
		width: 100%;
		position: absolute;
		bottom: 70px;
		max-width: 170px;
		height: auto;
		transition: 0.7s;
		opacity: 0;
		animation: opacity-animation 1s 1s forwards;
	}
	&__pokemon {
		display: inline-block;
		position: absolute;
		bottom: 20px;
		left: 100px;
		max-width: 160px;
		transition: 0.7s;
		width: 280px;
		opacity: 0;
		animation: pokemon-animation 1s forwards;
	}
	@keyframes pokemon-animation {
		from {
			left: -200px;
		}
		to {
			left: 100px;
			opacity: 1;
		}
	}

	&__bubble {
		display: inline-block;
		position: absolute;
		top: 0;
		width: 100%;
		max-width: 300px;
		height: auto;
		transition: 0.7s;
	}
}

.main-image2 {
	margin: 1em 1em;
	width: 60%;
	height: 40%;
}

.btn-landing {
	position: absolute;
	bottom: 80px;
	right: 55px;
	transition: 0.7s;
	opacity: 0;
	animation: btn-animation 1s forwards;
	@keyframes btn-animation {
		from {
			right: 0;
		}
		to {
			right: 55px;
			opacity: 1;
		}
	}
	&__link {
		cursor: pointer;
		display: inline-block;
		padding: 1rem 2.25rem;
		border-radius: 10px;
		color: #fff;
		font-weight: bold;
		text-transform: uppercase;
		font-size: 20px;
		letter-spacing: 0.15rem;
		transition: all 0.3s;
		position: relative;
		overflow: hidden;
		z-index: 1;
		.quote {
			&:before {
				content: '»';
				position: absolute;
				left: -30px;
				opacity: 0;
				transition: all 0.4s;
			}
			&:after {
				content: '»';
				position: absolute;
				left: 20px;
				opacity: 1;
				transition: all 0.4s;
			}
		}
		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: $primary-color;
			border-radius: 10px;
			z-index: -2;
		}
		&:before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 0%;
			height: 100%;
			background-color: $terciary-color;
			transition: all 0.3s;
			border-radius: 10px;
			z-index: -1;
		}
		&:hover {
			color: $secondary-color;
			&:before {
				width: 100%;
			}
			.quote:before {
				content: '»';
				position: absolute;
				left: 20px;
				opacity: 1;
			}
			.quote:after {
				content: '»';
				position: absolute;
				left: 35px;
				opacity: 0;
			}
		}
	}
}

@keyframes drift {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
.main-down {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: calc(100vh - 70px);
	background-color: $primary-color;
	overflow: hidden;
}

.main-down-title {
	width: auto;
	height: 12%;
	text-align: center;
	background-color: $primary-color;
}
.main-down-info {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	width: 100%;
	height: auto;
	background-color: $primary-color;
}
.card-container {
	display: flex;
	justify-content: center;
	flex-grow: 1;
}

.main-down-info-first {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin: 2em 0em;
}

.main-down-info-second {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: auto;
	margin: 2em 0em;
	background-color: $primary-color;
}

.card {
	background-color: transparent;
	width: 350px;
	height: 250px;
}

.card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}
.card:hover .card-inner {
	transform: rotateY(180deg);
}
.card-front,
.card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}
.card-front {
	background-color: none;
	h1 {
		width: 100%;
		height: 23%;
		font-size: 24px;
		text-align: center;
		color: white;
	}
}
.card-back {
	background-color: rgba(85, 85, 85, 0.5);
	background-image: url(../../assets/img/pokeball-bg.svg);
	background-repeat: no-repeat;
	background-size: 60%;
	background-position: 0 100%;
	color: white;
	width: 300px;
	height: 300px;
	border-radius: 50%;
	transform: rotateY(180deg);
	p {
		width: 100%;
		height: 23%;
		font-size: 22px;
		text-align: center;
		color: white;
	}
}
.card-image {
	width: 70%;
	height: auto;
	border-radius: 50%;
}

.title {
	width: 100%;
	height: 23%;
	font-size: 40px;
	text-align: center;
	text-transform: uppercase;
	color: white;
	margin-top: 1em;
}

@media (max-width: 1024px) {
	.oak-professor {
		&__image {
			width: 100%;
			bottom: 50px;
			max-width: 150px;
			height: auto;
		}
		&__pokemon {
			max-width: 140px;
		}
	}
	.btn-landing {
		position: absolute;
		bottom: 50px;
		right: 60px;
		&__link {
			font-size: 14px;
		}
	}
}
