$primary-color: #db4545;
$secondary-color: #555555;
$terciary-color: #e0e0e0;
$menu-item-color-hoover: #b53e3e;

$primary-text-color: #ffffff;
$secundary-text-color: #494949;

// Sizes

$box-sizes: 80%; // is not being used
