@import 'base/base';
@import 'base/typography';
@import 'abstracts/variables';
@import 'abstracts/mixins';

.intro-section {
	position: relative;
	box-sizing: border-box;
	height: calc(100vh - 7rem);
	@include background-parallax(
		'/assets/img/pokemon-header.jpg',
		$color-white,
		0.8
	);

	&__headings {
		width: 60rem;
	}

	&__wave {
		position: absolute;
		z-index: 0;
		bottom: -3px;
		width: 100%;
		height: auto;
		transition: all 0.7s;
		animation: scaleY-animation 1s;
	}

	&__characters {
		position: absolute;
		z-index: 1;
		bottom: 2.5rem;
		left: 4rem;
		text-align: center;
	}

	&__pokemon {
		width: 21rem;
	}

	&__btn-landing {
		position: absolute;
		z-index: 1;
		bottom: 10rem;
		right: 10rem;
	}
}

.section-functionality {
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
	height: 100vh;

	&__heading {
		position: relative;
		top: 0;
		width: 100%;
	}

	@include background-parallax(
		'https://playagaingames.files.wordpress.com/2019/01/pokemon-lets-go-3.jpg',
		$color-white,
		0.85
	);

	.functionalities {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-evenly;
	}

	&__wave {
		position: absolute;
		z-index: -1;
		transition: all 0.5s;
		width: 100%;
		height: auto;

		&--top {
			top: 0;
			left: 0;
		}
		&--bottom {
			bottom: 0;
			left: 0;
		}
	}

	.title {
		color: white;
		position: absolute;
		top: 0;
		margin-top: 3vh;
		font-weight: bold;
		transition: 0.7s;
	}
}

.main-image2 {
	margin: 1em 1em;
	width: 60%;
	height: 40%;
}

.section-team {
	position: relative;
	display: flex;
	height: calc(100vh - 5rem);
	flex-flow: column nowrap;
	justify-content: space-between;
	//background-color: $primary-color;
	overflow: hidden;
	@include background-parallax(
		'https://d3isma7snj3lcx.cloudfront.net/optim/images/gallery/33/337641/pokemon-let-s-go-evoli-switch-c635bf22.jpg',
		$primary-color,
		0.95
	);

	&__heading {
		position: relative;
		top: 0;
		width: 100%;
	}

	&__rights {
		width: 100%;
		height: 3%;
		font-size: 1.2rem;
		text-align: center;
		color: white;
	}
	&__members {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-evenly;
		align-content: space-around;
	}
}

@media (max-width: 1366px) {
	.intro-section {
		&__wave {
			transform-origin: bottom;
			transform: scaleY(1.4);
		}
	}

	.section-functionality {
		height: auto;
	}
}

@media (max-width: 1024px) {
	.intro-section {
		&__wave {
			transform-origin: bottom;
			transform: scaleY(1.4);
		}
	}
}

@media (max-width: 780px) {
	.intro-section {
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-evenly;
		&__wave {
			transform-origin: bottom;
			transform: scaleY(1.8);
		}
		&__headings {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: auto;
		}
		&__characters {
			position: static;
			display: block;
			margin: 0 auto;
		}
		&__btn-landing {
			position: static;
			display: block;
			margin: 0 auto;
			margin-top: 4rem;
		}
	}
	.section-functionality {
		height: auto;
	}
	.section-team {
		height: auto;
	}
}

@media (max-width: 480px) {
	.intro-section {
		&__wave {
			transform-origin: bottom;
			transform: scaleY(2);
		}

		&__btn-landing {
			margin-top: 4rem;
		}
	}
}
