@import 'base/base';
@import 'base/typography';
@import 'abstracts/variables';
@import 'abstracts/mixins';

.intro-section {
	position: relative;
	box-sizing: border-box;
	height: calc(100vh - 7rem);
	@include background-parallax(
		'/assets/img/pokemon-header.jpg',
		$color-white,
		0.8
	);

	&__headings {
		width: 60rem;
	}

	&__wave {
		position: absolute;
		z-index: 0;
		bottom: -3px;
		width: 100%;
		height: auto;
		transition: all 0.7s;
		animation: scaleY-animation 1s;
	}

	&__professor-oak {
		position: absolute;
		z-index: 1;
		bottom: 2.5rem;
		left: 4rem;
		width: 22rem;
	}

	&__pokemon {
		position: absolute;
		z-index: 2;
		bottom: 0;
		left: 15rem;
		width: 21rem;
	}

	&__btn-landing {
		position: absolute;
		z-index: 1;
		bottom: 10rem;
		right: 10rem;
	}
}

.section-functionality {
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
	padding: 5rem 0rem;
	height: 100vh;
	z-index: -2;

	@include background-parallax(
		'https://playagaingames.files.wordpress.com/2019/01/pokemon-lets-go-3.jpg',
		$color-white,
		0.85
	);

	.functionalities {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-evenly;

		.explanation-card {
			//Esto debería ser un componente
			display: flex;
			flex-flow: column nowrap;
			align-items: stretch;
			justify-content: space-between;
			height: 54rem;
			max-width: 41rem;
			background-color: #f0f0f0;
			box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
			padding: 4rem;
			border-radius: 15px;

			&__img {
				display: flex;
				flex-flow: row wrap;
				justify-content: space-evenly;
				align-self: center;
				img {
					border-radius: 15px;
					max-height: 30rem;
				}
			}
		}
	}

	&__wave {
		position: absolute;
		z-index: -1;
		transition: all 0.5s;
		width: 100%;
		height: auto;

		&--top {
			top: 0;
			left: 0;
		}
		&--bottom {
			bottom: 0;
			left: 0;
		}
	}

	.title {
		color: white;
		position: absolute;
		top: 0;
		margin-top: 3vh;
		font-weight: bold;
		transition: 0.7s;
	}
}

.main-image2 {
	margin: 1em 1em;
	width: 60%;
	height: 40%;
}

.section-team {
	position: relative;
	display: flex;
	height: calc(100vh - 5rem);
	flex-direction: column;
	background-color: $primary-color;
	overflow: hidden;

	&__heading {
		position: relative;
		top: 0;
		width: 100%;
	}

	&__rights {
		width: 100%;
		height: 3%;
		font-size: 1.2rem;
		text-align: center;
		color: white;
	}
}

.info {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	margin: 2rem auto;
	max-width: 100rem;
	background-color: $primary-color;
}

.card {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 260px;
	height: 260px;
	margin: 0 15px;

	&__container {
		position: relative;
		width: 100%;
		height: 100%;
		text-align: center;
		transition: transform 0.8s;
		transform-style: preserve-3d;

		&:hover {
			transform: rotateY(180deg);
		}
	}

	&__front {
		position: absolute;
		width: 100%;
		height: 100%;
		backface-visibility: hidden;
		background-color: none;

		&--text {
			width: 100%;
			height: 23%;
			font-size: 24px;
			text-align: center;
			color: white;
			margin-top: 10px;
		}
	}

	&__back {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		backface-visibility: hidden;
		color: white;
		margin: 0 15%;
		height: 70%;
		border-radius: 50%;
		transform: rotateY(180deg);
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
		background-color: rgba(85, 85, 85, 0.5);
		background-image: url('/assets/img/pokeball-card.png');
		opacity: 0.5;
		background-repeat: no-repeat;
		background-size: 35%;
		background-position: 0 100%;

		&--text {
			display: inline-block;
			font-size: 22px;
			padding: 0.3em;
		}
	}

	&__image {
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
		width: 70%;
		height: auto;
		border-radius: 50%;
	}
}

@media (max-width: 1366px) {
	.intro-section {
		&__wave {
			transform-origin: bottom;
			transform: scaleY(1.4);
		}
	}
	.section-functionality {
		height: auto;
		&__wave {
			&--top {
				transform-origin: top;
			}
			&--bottom {
				transform-origin: bottom;
			}

			transform: scaleY(2);
		}
	}
}

//   @media (max-width: 1024px) {
//     .oak-professor {
//       &__image {
//         width: 100%;
//         bottom: 50px;
//         max-width: 150px;
//         height: auto;
//       }

//       &__pokemon {
//         max-width: 140px;
//       }
//     }

//     .btn-landing {
//       position: absolute;
//       bottom: 50px;
//       right: 60px;

//       &__link {
//         font-size: 14px;
//       }
//     }

//     .title {
//       font-size: 25px;
//     }

//     .functionalities {
//       flex-flow: row wrap !important;
//     }

//     .explanation-card {
//       &--double {
//         flex: 2;
//       }

//       &__img-group {
//         flex-flow: row nowrap;
//         max-height: 240px !important;

//         img {
//           max-width: 160px !important;
//         }
//       }

//       &__img {
//         max-width: 160px !important;
//       }
//     }

//     .main-bottom {
//       box-sizing: border-box;
//       justify-content: center;
//       height: auto;
//     }

//     .card {
//       width: 250px;
//       height: 250px;

//       &__front {
//         &--text {
//           font-size: 18px;
//         }
//       }

//       &__back {
//         &--text {
//           font-size: 17px;
//         }
//       }
//     }
//   }

//   @media (max-width: 768px) {
//     .btn-landing {
//       position: absolute;
//       bottom: 50%;
//     }

//     .intro-section {}

//     .title {
//       font-size: 23px;
//       margin-top: 1vh;
//     }

//     .pokedex-title {
//       &__num {
//         font-size: 18px !important;
//       }

//       &__text {
//         font-size: 13px !important;
//       }
//     }

//     .explanation-card {
//       padding: 20px !important;

//       &--double {
//         padding: 20px !important;
//         flex: 2;
//       }
//     }

//     .bubble-text {
//       font-size: 12px !important;
//       padding: 15px !important;
//     }

//     .info {
//       margin: 50px auto;
//     }

//     .card {
//       &__front {
//         &--text {
//           font-size: 18px;
//         }
//       }

//       &__back {
//         &--text {
//           font-size: 18px;
//         }
//       }
//     }
//   }

//   @media screen and (max-width: 480px) {
//     .oak-professor {
//       position: absolute;
//       left: 0;
//       top: 50%;

//       &__image {
//         max-width: 99px;
//         height: auto;
//         position: static;
//         display: block;
//         margin: 0 auto;
//       }

//       &__pokemon {
//         max-width: 100px;
//         height: auto;
//         position: absolute;
//         display: block;
//         margin: 0 auto;
//       }
//     }

//     .btn-landing {
//       position: static;
//       width: 210px;
//       display: block;
//       margin: 20px auto;

//       &__link {
//         font-size: 14px;
//         padding: 10px 20px;
//       }

//       .quote {
//         &:before {
//           left: -30px;
//         }

//         &:after {
//           left: 10px;
//         }
//       }

//       &:hover {
//         .quote:before {
//           left: 10px;
//         }

//         .quote:after {
//           left: 35px;
//         }
//       }
//     }

//     .title {
//       font-size: 18px !important;
//       margin-top: 1vh !important;
//     }

//     .explanation-card {
//       padding: 20px !important;

//       &--double {
//         padding: 20px !important;
//         flex: 2;
//       }

//       &__img-group {
//         flex-flow: row nowrap;

//         img {
//           max-width: 140px !important;
//           max-height: 180px !important;
//         }
//       }

//       &__img {
//         max-width: 160px !important;
//       }
//     }

//     .main-bottom {
//       box-sizing: border-box;
//       justify-content: center;
//       height: auto;

//       &__rights {
//         font-size: 8px;
//       }
//     }

//     .card {
//       width: 220px !important;
//       height: 220px !important;

//       &__front {
//         &--text {
//           font-size: 15px;
//         }
//       }

//       &__back {
//         &--text {
//           font-size: 14px;
//         }
//       }
//     }

//     .info {
//       max-width: 400px;
//     }
//   }
