@import 'base/base';
@import 'base/typography';
@import 'abstracts/variables';
@import 'abstracts/mixins';

.intro-section {
	position: relative;
	box-sizing: border-box;
	height: calc(100vh - 7rem);
	@include background-parallax(
		'/assets/img/pokemon-header.jpg',
		$color-white,
		0.8
	);

	&__headings {
		width: 60rem;
	}

	&__wave {
		position: absolute;
		z-index: 0;
		bottom: -3px;
		width: 100%;
		height: auto;
		transition: all 0.7s;
		animation: scaleY-animation 1s;
	}

	&__professor-oak {
		position: absolute;
		z-index: 1;
		bottom: 2.5rem;
		left: 4rem;
		width: 22rem;
	}

	&__pokemon {
		position: absolute;
		z-index: 2;
		bottom: 0;
		left: 15rem;
		width: 21rem;
	}

	&__btn-landing {
		position: absolute;
		z-index: 1;
		bottom: 10rem;
		right: 10rem;
	}
}

.section-functionality {
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
	height: 100vh;
	z-index: -2;

	&__heading {
		position: relative;
		top: 0;
		width: 100%;
	}

	@include background-parallax(
		'https://playagaingames.files.wordpress.com/2019/01/pokemon-lets-go-3.jpg',
		$color-white,
		0.85
	);

	.functionalities {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-evenly;

		.explanation-card {
			//Esto debería ser un componente
			display: flex;
			flex-flow: column nowrap;
			align-items: stretch;
			justify-content: space-between;
			height: 54rem;
			max-width: 41rem;
			background-color: #f0f0f0;
			box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
			padding: 4rem;
			border-radius: 15px;

			&__img {
				display: flex;
				flex-flow: row wrap;
				justify-content: space-evenly;
				align-self: center;
				img {
					border-radius: 15px;
					max-height: 30rem;
				}
			}
		}
	}

	&__wave {
		position: absolute;
		z-index: -1;
		transition: all 0.5s;
		width: 100%;
		height: auto;

		&--top {
			top: 0;
			left: 0;
		}
		&--bottom {
			bottom: 0;
			left: 0;
		}
	}

	.title {
		color: white;
		position: absolute;
		top: 0;
		margin-top: 3vh;
		font-weight: bold;
		transition: 0.7s;
	}
}

.main-image2 {
	margin: 1em 1em;
	width: 60%;
	height: 40%;
}

.section-team {
	position: relative;
	display: flex;
	height: calc(100vh - 5rem);
	flex-flow: column nowrap;
	justify-content: space-between;
	background-color: $primary-color;
	overflow: hidden;

	&__heading {
		position: relative;
		top: 0;
		width: 100%;
	}

	&__rights {
		width: 100%;
		height: 3%;
		font-size: 1.2rem;
		text-align: center;
		color: white;
	}
	&__members {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-evenly;
		align-content: space-around;
	}
}

.card {
	height: 26rem;
	perspective: 150rem;
	-moz-perspective: 150rem;

	&__side {
		height: 26rem;
		backface-visibility: visible;
		position: absolute;
		top: 0;
		left: 0;
		background-color: $secondary-color;
		transition: all 0.7s;

		@include circle-mask;
		&--front {
			opacity: 1;
		}
		&--back {
			transform: rotateY(180deg);
			opacity: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 26rem;
		}
	}

	&__image {
		height: 26rem;
	}

	&:hover &__side--front {
		transform: rotateY(-180deg);
		opacity: 0;
	}

	&:hover &__side--back {
		transform: rotateY(0);
		opacity: 1;
	}

	&__name {
		font-size: 2.4rem;
		text-align: center;
		color: $color-white;
	}

	&__job {
		font-size: 2.4rem;
		color: $color-white;
	}
}

@media (max-width: 1366px) {
	.intro-section {
		&__wave {
			transform-origin: bottom;
			transform: scaleY(1.4);
		}
	}
	.section-functionality {
		height: auto;
		&__wave {
			&--top {
				transform-origin: top;
			}
			&--bottom {
				transform-origin: bottom;
			}

			transform: scaleY(2);
		}
	}
}
