@import 'abstracts/mixins';

.characters {
	position: relative;
	&__professor {
		width: 22rem;
	}
	&__pokemon {
		width: 21rem;
		position: absolute;
		bottom: -20px;
		left: 50%;
	}
}

@include respond(tab-land) {
	.characters {
		&__professor {
			width: 16rem;
		}
		&__pokemon {
			width: 15rem;
			bottom: -11px;
		}
	}
}

// @include respond(tab-port) {
// 	.characters {
// 		&__professor {
// 			width: 16rem;
// 		}
// 		&__pokemon {
// 			width: 15rem;
// 			bottom: -11px;
// 		}
// 	}
// }

@include respond(phone) {
	.characters {
		&__professor {
			width: 11rem;
		}
		&__pokemon {
			width: 10rem;
			bottom: -11px;
		}
	}
}
