<div class="card">
	<div class="card card__inner">
		<!-- CARD FRONT -->
		<div class="card card__front">
			<div class="card__front--data-bg">
				<!-- Card Title -->
				<h2 class="btn btn--first">
					<img
						class="icon-img"
						src="./../../../../assets/img/iconPointerMap.svg"
						alt="Icon Pointer Map"
					/>LOCATION
				</h2>
				<!-- Background Color -->
				<div id="map" class="map"></div>
			</div>
		</div>
	</div>
</div>
<!-- <button (click)="changePokemon()">Cambia pokemon</button> -->
