.map {
	height: 300px;
}

.leaflet-popup-content-wrapper .leaflet-popup-content {
	color: red;
}

.btn {
	display: flex;
	margin: 1rem 0;
	align-items: center;
	background-color: #ececec;
	font-weight: bolder;
	font-size: 1.5rem;
	padding: 0.5rem;
	border-radius: 1rem;

	&--first {
		margin: 0 1rem 1rem 1rem;
	}
}
