@import 'abstracts/variables';

.pokedex-title {
	background-color: $primary-color;
	border-radius: 1rem;
	display: flex;
	text-transform: uppercase;
	height: 5rem;

	&__num {
		background-color: $secondary-color;
		width: 8rem;
		height: 100%;
		border-radius: 1rem 0px 0px 1rem;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 23px;

		span {
			color: white;
			display: inline;
		}
	}

	&__text {
		display: flex;
		justify-content: center;
		align-items: center;
		color: white;
		font-size: 16px;
		padding: 0px 25px;
	}
}
