<div *ngIf="pokemonSelected != undefined" class="card-container">
	<div class="card-container__title">
		<img src="/assets/img/iconPokeData.svg" alt="Icon Map" />
		<h2>
			Pokemon
		</h2>
	</div>
	<div class="card" [style.background-color]="pokemonColorType">
		<div class="resume">
			<img
				class="resume__image"
				src="{{ pokemonSelected.imagePath }}"
				alt="Imagen de {{ pokemonSelected.name }}"
			/>
			<h2 class="resume__name">{{ pokemonSelected.name }}</h2>
			<div class="resume__type">
				<div
					*ngFor="let type of pokemonSelected.type"
					[style.background-color]="getTypeColor(type)"
					class="resume__type-elem"
				>
					{{ type }}
				</div>
			</div>
		</div>
		<div class="stats"></div>
		<div class="card__btn" (click)="changeData()">
			Stats >
		</div>
	</div>
</div>
