<div *ngIf="pokemonSelected != undefined" class="card-container">
	<div class="card-container__title">
		<img src="/assets/img/iconPokeData.svg" alt="Icon Map" />
		<h2>
			Pokemon
		</h2>
	</div>
	<div class="card" [style.background-color]="pokemonColorType">
		<div class="resume" *ngIf="detail === false">
			<img
				class="resume__image"
				src="{{ pokemonSelected.imagePath }}"
				alt="Imagen de {{ pokemonSelected.name }}"
			/>
			<h2 class="resume__name">{{ pokemonSelected.name }}</h2>
			<div class="resume__type">
				<div
					*ngFor="let type of pokemonSelected.type"
					[style.background-color]="getTypeColor(type)"
					class="resume__type-elem"
				>
					{{ type }}
				</div>
			</div>
		</div>
		<div class="stats" *ngIf="detail">
			<h1 class="stats__name">
				# {{ pokemonSelected.id }} {{ pokemonSelected.name }}
			</h1>
			<div class="stats__properties">
				<h2>Ability: {{ pokemonSelected.ability }}</h2>
				<h2>Height: {{ pokemonSelected.height }} m</h2>
				<h2>Weight: {{ pokemonSelected.weight }} kg</h2>
			</div>
			<div
				*ngFor="let feature of pokemonSelected.stats"
				class="stats__chart"
			>
				<div class="stats__chart-name">{{ feature.name }}:</div>
				<div class="stats__chart-bar">
					<div>{{ feature.base }}</div>
					<svg width="120" height="15">
						<rect
							x="0"
							y="0"
							rx="5"
							ry="5"
							[attr.width]="transformBaseStat(feature.base)"
							height="10"
							[attr.fill]="colorBar(feature.base)"
						/>
					</svg>
				</div>
			</div>
		</div>
		<div class="card__btn" (click)="changeData()" *ngIf="detail === false">
			Stats >
		</div>
		<div class="card__btn" (click)="changeData()" *ngIf="detail">
			Resume >
		</div>
	</div>
</div>
