@import 'abstracts/variables';
@import 'abstracts/mixins';

.card {
	height: 23rem;
	width: 23rem;
	perspective: 150rem;
	-moz-perspective: 150rem;

	&__side {
		height: 23rem;
		backface-visibility: visible;
		position: absolute;
		top: 0;
		left: 0;
		background-color: $terciary-color;
		transition: all 0.7s;

		@include circle-mask;
		&--front {
			opacity: 1;
		}
		&--back {
			display: flex;
			flex-direction: column;
			transform: rotateY(180deg);
			opacity: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 23rem;
		}
	}

	&__image {
		height: 23rem;
	}

	&:hover &__side--front {
		transform: rotateY(-180deg);
		opacity: 0;
	}

	&:hover &__side--back {
		transform: rotateY(0);
		opacity: 1;
	}

	&__name {
		font-size: 2.4rem;
		text-align: center;
		color: $color-white;
	}

	&__job {
		font-size: 2.4rem;
		color: $secondary-color;
		text-shadow: 0 0 2px 2px;
	}

	&__sites {
		display: flex;
	}

	&__logo {
		width: 3rem;
		margin: 1rem;
	}
}
