@import './reset.scss';

// Colors

$primary-color: #db4545;
$secondary-color: #555555;
$menu-item-color-hoover: #b53e3e;

$primary-text-color: #ffffff;
$secundary-text-color: #494949;

// Sizes

$box-sizes: 80%;
