@import 'abstracts/mixins';

.header-gap {
	width: 100%;
	height: 3rem;
	display: block;
}
.wave {
	transition: transform 0.7s;
}
@include respond(tab-land) {
	.wave {
		transform-origin: top;
		transform: scaleY(1.4);
	}
}
@include respond(tab-port) {
	.wave {
		transform-origin: top;
		transform: scaleY(1.7);
	}
	.header-gap {
		height: 8rem;
	}
}
