html {
	//This defines what 1rem is
	font-size: 62.5%;
}

body {
	height: 100vh;
	width: 100vw;
	background-color: transparent;
	box-sizing: border-box;
}

.main-page {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	width: 100%;
}

@media (max-width: 1366px) {
	html {
		font-size: 44.5%;
	}
}

@media (max-width: 1024px) {
	html {
		font-size: 62.5%;
	}
}

@media (max-width: 480px) {
	html {
		font-size: 54.5%;
	}
}
