.u-text-center {
	text-align: center;
}

.u-text-left {
	text-align: left;
}

.u-text-right {
	text-align: right;
}

.u-margin-bottom-regular {
	margin-bottom: 5rem;
}

.u-margin-bottom-big {
	margin-bottom: 8rem;
}

.u-margin-top-large {
	margin-top: 15rem;
}

.u-margin-top-regular {
	margin-top: 5rem;
}

.u-margin-regular {
	margin: 5rem 0;
}

.u-absolute-position-center {
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
}

.u-border-style {
	border-top: solid 5px white;
	border-bottom: solid 5px white;
	padding-top: 2rem;
	padding-bottom: 1rem;
}

@include respond(tab-land) {
	.u-margin-bottom-big {
		margin-bottom: 4rem;
	}
	.u-margin-regular {
		margin-top: 2rem;
		margin-bottom: 5rem;
	}
}
